{% extends 'base.html' %}

{% block content %}

<h2>Nuevo Paciente</h2>

<form method="POST">

    <div class="mb-3">

        <label>Nombre</label>

        <input type="text"
               name="nombre"
               class="form-control"
               required>

    </div>

    <div class="mb-3">

        <label>Edad</label>

        <input type="number"
               name="edad"
               class="form-control"
               required>

    </div>

    <div class="mb-3">

        <label>Dirección</label>

        <input type="text"
               name="direccion"
               class="form-control"
               required>

    </div>

    <div class="mb-3">

        <label>Teléfono</label>

        <input type="text"
               name="telefono"
               class="form-control">

    </div>

    <button class="btn btn-success">
        Guardar Paciente
    </button>

</form>

{% endblock %}